.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.status-bar {
  display: inline-block;
  width: 23%;
  padding: 15px;
  position: absolute;
  left: 0px;
  top: 112px;
  /* border-width:1px; */
  /* border-style:solid; */
  /* border-color:black; */
  z-index: 1;
  background-color:#fff;
  height: 93.2%;
}

.alert-title {
  font-size: 1.25rem; text-align: center; color: black; visibility: visible;}

  .chart-title {
    font-size: 1.25rem; text-align: left; 
    color: black; font-weight: 'bold';
    transform: translateX(1rem);
    visibility: visible;} 


  .adt-chart {
    display: inline-block;
    width: 35%;
    /* height: 34%; */
    padding: 5px;
    position: center;
    left: 23%;
    top: 112px;
    /* border-width:1px; */
   /* border-style:solid; */
   /* border-color:black; */
   /* z-index: 1; */
   background-color: #fff;
  }

  .dbrush-chart {
    display: inline-block;
    width: 40%;
    /* height: 34%; */
    padding: 5px;
    position: absolute;
    left: 23%;
    top: 450px;
    /* border-width:1px; */
   /* border-style:solid; */
   /* border-color:black; */
   /* z-index: 1; */
   background-color: #fff;
  }

  .treem-chart {
    display: inline-block;
    width: 40%;
    /* height: 34%; */
    padding: 5px;
    position: absolute;
    left: 63%;
    top: 112px;
    /* border-width:1px; */
   /* border-style:solid; */
   /* border-color:black; */
   /* z-index: 1; */
   background-color: #fff;
  }


  
.custbar-chart {
  display: inline-block;
  /* width: 23%; */
  padding: 15px;
  position: absolute;
  left: 0px;
  top: 112px;
  /* border-width:1px; */
  /* border-style:solid; */
  /* border-color:black; */
  z-index: 1;
  background-color:#fff;
  /* height: 93.2%; */
}

.turn-chart {
  display: inline-block;
  /* width: 23%; */
  padding: 15px;
  position: absolute;
  left: 600px;
  top: 112px;
  /* border-width:1px; */
  /* border-style:solid; */
  /* border-color:black; */
  z-index: 1;
  background-color:#fff;
  height: 50%;
}

.turnline-chart {
  display: inline-block;
  /* width: 23%; */
  padding: 15px;
  position: absolute;
  left: 0px;
  top: 612px;
  /* border-width:1px; */
  /* border-style:solid; */
  /* border-color:black; */
  z-index: 1;
  background-color:#fff;
  /* height: 93.2%; */
}

.turnbarbrush-chart {
  display: inline-block;
  /* width: 23%; */
  padding: 15px;
  position: absolute;
  left: 600px;
  top: 632px;
  /* border-width:1px; */
  /* border-style:solid; */
  /* border-color:black; */
  z-index: 1;
  background-color:#fff;
  height: 50%;
}